# .env
VITE_SUPABASE_URL=https://bzdxejgfpbbwluovrseb.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxoYXN5b2dscnhvdnBzc3lzYnNvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMwMjc4NjQsImV4cCI6MjA5ODYwMzg2NH0.gy1h16lIuyihQZCrzO70tVJAcCHMPheXlIsm5D_06pI
